<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F.P.H.U. ANNKOW</title>
</head>

<body>
    <%= require('html-loader!./sections/hero/hero.html') %>
        <%= require('html-loader!./sections/up-icon/up-icon.html') %>
            <main>
                <article>
                    <%= require('html-loader!./sections/about/about.html') %>
                        <%= require('html-loader!./sections/portfolio/portfolio.html') %>
                            <%= require('html-loader!./sections/work/work.html') %>
                                <%= require('html-loader!./sections/contact/contact.html') %>
                                    <%= require('html-loader!./sections/map/map.html') %>
                </article>
            </main>
            <%= require('html-loader!./sections/footer/footer.html') %>
</body>

</html>