@import 'shared/reset.scss';
@import 'shared/grid.scss';
@import 'shared/variables.scss';
@import 'shared/mixins.scss';


// Global styles

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('./shared/fonts/Montserrat/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('./shared/fonts/Montserrat/Montserrat-SemiBold.ttf');
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat-Medium', sans-serif;
    line-height: 1.5;
    color: #212529;
    position: relative;
}

h2 {
    color: $secondary;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.img {
    max-width: 100%;
    height: auto;
    @include borders
}

svg {
    overflow: hidden;
    vertical-align: middle;
}